@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/playfair-display"; /* Importing the new font */

@layer base {
  :root {
    --background: 0 0% 10%;
    --foreground: 0 0% 100%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 100%;

    --primary: 220 13% 18%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 40%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 40%;
    --muted-foreground: 0 0% 100%;

    --accent: 0 0% 40%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 40%;
    --input: 0 0% 40%;
    --ring: 0 0% 100%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 100%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 100%;

    --primary: 220 13% 18%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 40%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 40%;
    --muted-foreground: 0 0% 100%;

    --accent: 0 0% 40%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 40%;
    --input: 0 0% 40%;
    --ring: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-serif;
    font-family: 'Playfair Display', serif;
  }
}